<div class="container padded">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Add a bag</h1>


        <%= simple_form_for(@bag) do |f| %>
        <%= f.input :title %>
        <%= f.input :category, :collection => ["Backpack", "Carry-on luggage", "Handbag", "Briefcase", "Suitcase", "Satchel", "Gym bag", "Animal case", "Trunk", "Other"] %>
        <%= f.input :brand %>
        <%= f.input :capacity, label: "Capacity (Liters)"%>
        <%= f.input :price_per_day, label: "Price per day (£)" %>
        <%= f.input :description %>
        <%= f.input :address %>
        <p><strong>Availabilities</strong></p>
        <%= f.input :datein, as: :string, label: false, input_html:{ id: "checkin", placeholder: "from"} %>
        <%= f.input :dateout, as: :string, label: false, input_html:{ id: "checkout", placeholder: "to"} %>
        <%= f.input :photos, as: :attachinary %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
