
<!-- Cards for results: need to adapt with the search option -->
<div class="bagoo-wrapper">

<h1 class="text-center">Our elves found these...</h1>
<br> <br> <br>
<div class="container">
  <div class="row">
    <% if !@dates_array.nil?  %>

      <% @bags.each do |bag| %>
        <% booked_dates_array_date_class = [] %>
        <% bag.bookeddates.each do |bd| %>
        <% booked_dates_array_date_class << Date.parse(bd)  %>
        <% end %>

        <%  if (booked_dates_array_date_class & @dates_array).empty? %>

          <div class="col-xs-12 col-sm-4">
             <% if bag.photos? %>
               <div class="card"
               style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bag.photos.first.path, height: 300, width: 400, crop: :fill %>')">
             <% else %>
               <div class="card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'default_bag.png'%>')">
              <% end %>
              <div class="card-category"></div>
              <div class="card-description">
                <h2> <%= bag.title %> </h2>
              </div>
          <%= link_to "", bag_path(bag, {checkin: @checkin, checkout: @checkout}), class: "card-link" %>
          </div>
        </div>

        <% else %>
            <div class="col-xs-12 col-sm-4">
             <% if bag.photos? %>
               <div class="card"
               style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bag.photos.first.path, height: 300, width: 400, crop: :fill %>')">
             <% else %>
               <div class="card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'default_bag.png'%>')">
              <% end %>
              <div style="background-color: #CF202E;" class="card-category"><h4>Booked for your dates</h4></div>
              <div class="card-description">
                <h2><%= bag.title %></h2>


              </div>

          </div>
        </div>

        <%  end %>
      <% end %>

    <% else %>
       <% @bags.each do |bag| %>
      <div class="col-xs-12 col-sm-4">
       <% if bag.photos? %>



      <div class="card"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bag.photos.first.path, height: 300, width: 400, crop: :fill %>')">
      <% else %>
      <div class="card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'default_bag.png'%>')">
<% end %>

        <div class="card-category"></div>
        <div class="card-description">
          <h2> <%= bag.brand %> </h2>
        </div>
        <%= link_to "", bag_path(bag, {checkin: @checkin, checkout: @checkout}), class: "card-link" %>
      </div>
    </div>
    <% end %>
    <% end %>
</div>
</div>
</div>
<div></div>
<br>
</div>
