<br>
<div class="cover-container text-center">
  <div class="container">
    <div class="cover">
      <div class="bag-cover-photos">
        <% if (defined?(@bag.photos))  %>
        <% @bag.photos.each do |photo| %>
        <%= cl_image_tag photo.path, height: 350, crop: :fill %>
        <% end %>
        <% else %>
        <p>This bag has no photos</p>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <p>
          <strong><%= @bag.title %></strong>
        </p>

        <p>
          <strong>Category:</strong>
          <%= @bag.category %>
        </p>

        <p>
          <strong>Brand:</strong>
          <%= @bag.brand %>
        </p>

        <p>
          <strong>About this bag:</strong>
          <%= @bag.description %>
        </p>

        <p>
          <strong>Capacity:</strong>
          <%= @bag.capacity %>
        </p>

        <p>
          <strong>Price per day:</strong>
          <%= @bag.price_per_day %>
        </p>
</table>



      <div class="booking-form">
        <% if @bag.errors.any? %>
        <ul>
          <% @bag.errors.full_messages.each do |error| %>
          <li><%= error %></li>
          <% end %>
        </ul>
        <% end %>

        <%= simple_form_for(@bag) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">

          <%= f.input :description %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
        <% end %>
      </div>






    </div>
  </div>
</div>
