<br>

<!-- diplays the photos-->
<div class="cover-container text-center">
  <div class="container">
    <div class="cover">
      <div class="bag-cover-photos">
        <% if (defined?(@bag.photos))  %>
        <% @bag.photos.each do |photo| %>
        <%= cl_image_tag photo.path, height: 350, crop: :fill %>
        <% end %>
        <% else %>
        <p>This bag has no photos</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- display the information about the bag -->
<div class="container">

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="bag-description">
        <h3>About this bag</h3>
        <p><%= @bag.description %></p>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Title</th>
            <td><%= @bag.title %></td>
          </tr>
          <tr>
            <th>Category</th>
            <td><%= @bag.category %></td>
          </tr>
          <tr>
            <th>Brand</th>
            <td><%= @bag.brand %></td>
          </tr>
          <tr>
            <th>Capacity</th>
            <td><%= @bag.capacity %></td>
          </tr>
          <tr>
            <th>Pick-up Address</th>
            <td><%= @bag.address%></td>
          </tr>
          <tr>
            <th>Price per day (£)</th>
            <td><%= @bag.price_per_day %></td>
          </tr>
          <tr>
            <th>Available from</th>
            <td><%= @bag.datein %></td>
          </tr>
          <tr>
            <th>Available until</th>
            <td><%= @bag.dateout %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var coord = <%= raw @bag_coordinates.to_json %>;
alert('Bag coordinates are ' + @coordinates.lat + ', ' + @coordinates.l);
});
<% end %>
<% end %>

<!-- MAP FOR BAG -->


<div id="map" class="map-container" style="width: 50%; height: 350px; margin:auto">

  <% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {

      var handler = Gmaps.build('Google', { markers: { clusterer: undefined }, map_options:{draggable: true}});
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers([
        {
          "lat": <%= @bag.latitude %>,
          "lng": <%= @bag.longitude %>,
          "infowindow": "<h2>My bag is here !</h2>"
        }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);
      });
    })
  </script>

  <% end %>
</div>

<!-- -->

<% if @bag.user != current_user %>

<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= simple_form_for [@bag, @booking], class: 'booking-request' do |f| %>
        <h4>Review your booking below:</h4>

        <%= f.input :check_in, as: :string, label: false, input_html:{ id: "checkin", placeholder: "from", value: params[:checkin]} %>


        <%= f.input :check_out, as: :string, label: false, input_html:{ id:"checkout", placeholder: "to", value: params[:checkout]} %>

        <table class="table">
          <thead>
            <tr><th></th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <th>Price per day</th>
              <td style = "text-align: right"><%= @bag.price_per_day %></td>
            </tr>
            <tr>
              <th>Number of days</th>
              <td style = "text-align: right" id="nbDays"></td>
            </tr>
            <tr>
              <th>Total price</th>
              <td style = "text-align: right" id="total-price"><%= @bag.price_per_day  %></td>
            </tr>
          </table>

          <%= f.submit class: 'btn btn-primary btn-large btn-block' %>
        <% end %>

    </div>
  </div>
</div>

<% content_for :after_js do %>
<script>
  $("form.new_booking input").change(function(){
    // console.log('hi');
    if (($("#checkout").datepicker('getDate') != null) && ($("#checkin").datepicker('getDate') != null)){
      var a = $("#checkout").datepicker('getDate').getTime();
      var b = $("#checkin").datepicker('getDate').getTime();
      var c = 24*60*60*1000;
      var diffDays = Math.round(Math.abs((a - b)/(c)));
      $('#nbDays').text(diffDays);
      var price_per_day = <%= @bag.price_per_day %>
      var total_price = diffDays * price_per_day
      $('#total-price').text(total_price)
    }
  });
</script>

<% end %>

<% else %>
<div class="text-center">
  <ul>
  <br>
    <li><%= link_to "Edit my listing", edit_bag_path  %></li>
    <li><%= link_to "Delete my listing", bag_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
  </ul>
</div>
<% end %>
