<div class="container">
  <div class="row padded">

    <h3>Booking requests</h3>
    <% @user.bags.each do |bag| %>
      <% bag.bookings.each do |booking| %>
        <% if !booking.accepted %>
          <div class="col-xs-12 col-sm-4">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path (bag.photos? ? (bag.photos[0].path) : "https://unsplash.it/200/300/?random"), height: 300, width: 400, crop: :fill %>')">

              <div class="card-description">
                <h2> <%= booking.bag.title %></h2>
                <p> <%= booking.check_in %> - <%= booking.check_out %> </p>
              </div>


                <%= link_to "Accept", { controller: :bookings, action: :accept, id: booking.id }, data: { confirm: 'Are you sure?' }, class: "accept-btn btn btn-primary btn-block bt-large" %>


            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>

<div class="container">
  <div class="row padded">

    <h3>Upcoming confirmed bookings</h3>
    <% @user.bags.each do |bag| %>
      <% bag.bookings.each do |booking| %>
        <% if booking.accepted %>
          <div class="col-xs-12 col-sm-4">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path (bag.photos? ? (bag.photos[0].path) : "https://unsplash.it/200/300/?random"), height: 300, width: 400, crop: :fill %>')">

              <div class="card-description">
                <h2> <%= booking.bag.title %></h2>
                <p> <%= booking.check_in %> - <%= booking.check_out %> </p>
              </div>

            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>


