<!-- BANNER -->
<%= render 'shared/banner' %>
<!-- Your features code -->
<div class="text-center">
  <div class="padded">
    <div class="features">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag("backpack.png") %>
            <h2>Choose a bag</h2>
            <p>All the bags that you need</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag("icon.png") %>
            <h2>Pick a category</h2>
            <p>From golf bags to ski bags</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag("flash.png") %>
            <h2>Easy handling</h2>
            <p>Pick up made easy</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag("trust.png") %>
            <h2>Trusted Sources</h2>
            <p>From genuine people</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<!-- Your cards code -->
<div class="wrapper-grey">
  <div class="text-center">
   <div class="padded">
    <div class="container">
      <h2>Our featured bags</h2>
      <div class="row">

        <% Bag.first(3).each do |bag| %>
        <div class="col-xs-12 col-sm-4">
         <% if bag.photos? %>
         <div class="card"
         style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bag.photos.first.path, height: 300, width: 400, crop: :fill %>')">
         <% else %>
         <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/24467/pexels-photo-24467.jpg?w=1260&h=750&auto=compress&cs=tinysrgb'); height: 300; width: 400; crop: :fill);">
          <% end %>
          <div class="card-category"></div>
          <div class="card-description">
            <h2> <%= bag.brand %> </h2>
          </div>
          <%= link_to "", bag_path(bag, {checkin: @checkin, checkout: @checkout}), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>

  <!-- MAIN MAP -->
<%= render 'bags/map_box', hash_markers: @hash %>

<!--  -->

  </div>
</div>
</div>
</div>
</div>


<br>
