  <!-- BANNER -->
  <%= render 'shared/banner' %>
  <!-- Your features code -->
  <div class="text-center">
    <div class="padded">
      <div class="features">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <%= image_tag("globe.png") %>
              <h2>Discover the World</h2>
              <p>The earth is your new home</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
             <%= image_tag("dollar.png") %>
             <h2>Pay Online</h2>
             <p>No cash issues anymore</p>
           </div>
           <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag("suitcase.png") %>
            <h2>Rent a bag</h2>
            <p>Pick any bag when you need it</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
           <%= image_tag("heart.png") %>
           <h2>Share and love</h2>
           <p>Join a community you love</p>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>

<!-- Your cards code -->
<div class="wrapper-grey">
 <div class="text-center">
   <div class="padded">
    <div class="container">
      <h2>Some Bags</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->

        </div>
      </div>
    </div>
  </div>
</div>
</div>
